.section1 {
  background-color: slateblue;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.econtent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: chartreuse;
  height: 96px;
  flex-shrink: 0;
}
